.header_left h3 {
  /* header div h3 == .header_left h3 같은 값입니다 */
  display: inline;
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  padding-left: 1rem;
  font-style: italic;
}

main {
  background-color: #efefef;
  height: 100%;
  /* main code 수정할까 말까? */
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem 1rem 15rem;
}

i {
  font-size: 1.5rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
}
.fa-instagram {
  font-size: 1.8rem;
  border-right: 1px solid black;
}

hr {
  margin: 0rem;
}

.header_left {
  display: flex;
  align-items: center;
}

.intro div {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}
.pic {
  border-radius: 100%;
  width: 160px;
  height: 160px;
}

.intro img {
  margin-right: 5rem;
}
.profile h1 {
  display: inline;
}
.num {
  display: flex;
}

.num p {
  margin-right: 1rem;
}

.body_text {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: auto;
  border-top: 1px solid grey;
  padding-top: 2rem;
}
.records img {
  width: 300px;
  height: 300px;
}
.records {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: repeat(3, 300px);
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  padding: 1rem 10rem 10rem 10rem;
}
